// Page footer

.footer {
  padding-top: 140px;
  margin-bottom: 50px;

  @media (min-width: $xl) {
    padding-top: 30px;
    margin-bottom: 100px;
  }
}

.footer-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $xl) {
    flex-direction: row;
  }
}


.footer-nav {
  flex-direction: column;
  text-align: center;

  @media (min-width: $xl) {
    margin: 0;
    margin-top: auto 0;
    flex-direction: row;
  }

}

.footer-copyright {
  font-size: 16px;
  line-height: 38px;
  color: $white;
}
