
//  Light
//  Blurred rays of light

//  Light  
//  ├──  Base
//  ├──  Color
//  └──  Position


.light {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    min-width: $container-min-width;
    overflow: hidden;
    z-index: -1;
    user-select: none;
  }
  
  .light-1,
  .light-2,
  .light-3,
  .light-4,
  .light-5 {
    position: relative;
    display: block;
    border-radius: 230px;
    margin: 0 auto;
  }
  
  .light-1,
  .light-2 {
    width: 250px;
    height: 665px;
  }
  
  .light-3,
  .light-4,
  .light-5 {
    display: none;
  }
  
  @media (min-width: $xl) {
    .light-1,
    .light-2 {
      width: 470px;
      height: 1230px;
    }
  
    .light-3,
    .light-4 {
      display: block;
      width: 470px;
      height: 510px;
    }
  
    .light-5 {
      display: block;
      width: 860px;
      height: 2580px;
    }
  }
  
  /**** Color ***************************/
  
  .light {
    &--blue {
      background: linear-gradient(
        180deg,
        rgba(84, 84, 212, 0.27) 0%,
        rgba(84, 84, 212, 0.1134) 100%
      );
      filter: blur(300px);
    }
  
    &--red {
      background: linear-gradient(
        180deg,
        rgba(251, 168, 28, 0.1066) 0%,
        rgba(224, 86, 136, 0.0615) 100%
      );
      filter: blur(300px);
    }
  }
  
  /**** Position *********************/
  
  .light {
    &-1 {
      left: -60px;
      top: 10px;
      transform: rotate(-42deg);
    }
  
    &-2 {
      top: 0px;
      right: 0px;
      transform: rotate(44deg);
    }
  
    @media (min-width: $xl) {
      &-1 {
        left: -490px;
        top: -200px;
        transform: rotate(-54deg);
      }
  
      &-2 {
        top: -1140px;
        right: -360px;
        transform: rotate(65deg);
      }
  
      &-3 {
        margin-top: -750px;
        left: -690px;
        transform: rotate(-54deg);
      }
  
      &-4 {
        bottom: -600px;
        right: -530px;
        transform: rotate(40deg);
      }
  
      &-5 {
        margin-top: -1375px;
        transform: rotate(65deg);
      }
    }
  }
  