// Base class for nav
// `<nav>`s, `<ul>`s or `<ol>`s.

$nav-link-color:          $body-color;
$nav-link-color-hover:    $primary;

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;

  }

  .nav__link {
    display: block;
    padding: 0.5rem 1rem;
    color: $nav-link-color;
    font-size: 18px;  
    line-height: 25px; 
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

  
    &:hover,
    &:focus,
    &.active {
      color: $nav-link-color-hover;
    }
  
    // Disabled state lightens text
    &.disabled,
    &.active {
        pointer-events: none;
        cursor: default;
    }
  }