// Header Navbar

$nav-bg:                    $body-bg;
$nav-link-color:            $body-color;
$nav-link-color-hover:      $primary;
$nav-collapse-width:        $xl;
$nav-item-padding-x:        1.25rem;

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: calc(114px / 2) 0;
  margin-bottom: 28px;

  @media (min-width: $xl) {
    padding: calc(124px / 2) 0;
    margin-bottom: 38px;   
  }
}

.navbar > .container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
}


/*** Navbar nav *********************************************/

.navbar__nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-bottom: 10px;

  @media (max-width: $nav-collapse-width) {
    margin-bottom: 20px;
  }

  & .nav__link {
    padding-right: 0;
    padding-left: 0;
  }

  & .dropdown-menu {
    position: static;
  }


}


/*** Navbar text ********************************************/

.navbar__text {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/*** Responsive navbar *************************************/

.navbar__collapse {
  flex-basis: 100%;
  flex-grow: 1;
  padding: 0;

  @media (max-width: $nav-collapse-width) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 120px 10px;
    text-align: center;
    background-color: $nav-bg;
    visibility: hidden;
    opacity: 0;
    z-index: 2;
    overflow-y: scroll;
   

    &.is-active {   
      visibility: visible;
      opacity: 1;
      transition: ease-in-out 0.3s;
    }
  }

  @media (min-width: $nav-collapse-width) {     

  }  
}

body.nav-open {
  overflow: hidden
}

.navbar__toggler  {
  color: $white;
  z-index: 10;
  @include hamburger(24px);
}


.navbar__toggler {
  background-color: inherit;
  border: 1px solid transparent;
  border-radius: 0.25rem;

  &:hover {
    text-decoration: none;
  }

  &:focus {
    text-decoration: none;
  }
}


/*** Expand ********************************************/

.navbar--expand {
  @media (min-width: $nav-collapse-width) {
    flex-wrap: nowrap;
    justify-content: flex-start;

    & .navbar__nav {
      flex-direction: row;
      margin: 0 auto;
    }
    & .navbar__nav .nav__link {
      padding-right: $nav-item-padding-x;
      padding-left: $nav-item-padding-x;
    }
    & .navbar__collapse {
      display: flex !important;
      flex-basis: auto;
    }
    & .navbar__toggler {
      display: none;
    }
  }
}
