@mixin hamburger($dimensions) {
    cursor: pointer;
    display: block;
    height: $dimensions;
    position: relative;
    width: $dimensions;
      
    span {
      position: absolute;     
      display: block;
      height: 2px;
      left: calc(50% - 8px);      
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color, opacity, transform;
      transition-timing-function: ease-out;
      width: 14px;
      background-color: currentColor;
      border-radius: 2px;
  
      &:nth-child(1) {
        width: 14px;
        top: calc(50% - 6px);
      }
  
      &:nth-child(2) {
        top: calc(50% - 1px);
        margin-left: 2px;
        width: 12px;
      }
  
      &:nth-child(3) {
        top: calc(50% + 4px);
        margin-left: 4px;
        width: 10px;
      }
    }
  
    // Modifers
    &.is-active {
      span {
        margin: 0;
        &:nth-child(1) {
          width: 14px;
          transform: translateY(5px) rotate(45deg);
        }
  
        &:nth-child(2) {
          opacity: 0;
        }
  
        &:nth-child(3) {
          transform: translateY(-5px) rotate(-45deg);
          width: 14px;
        }
      }
    }
  }